* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
}

.text {
  width: 50%;
  padding: 0px 40px;
}

.image {
  width: 50%;
}

h1 {
  font-size: 3rem; 
  color: #333;
}

p {
  margin-top: 2rem;
  font-size: 1rem; 
  color: #666;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

img {
  width: 80%;
  height: 700px;
  object-fit: cover;
}
/* About */
.about-container {
  margin-top: 40px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 20px 350px;
}

.comfy-title {
  background-color: #3081d8; 
  color: #fff;
  padding: 10px;
}
/* NAVBAR */
.navbar {
  background-color: #333;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  color: #fff;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffc107; 
}

.cart-icon {
  position: relative;
}

.cart-icon::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li:nth-child(1){
  background-color: #3081d8;
  padding: 8px 14px;
  border-radius: 5px;
  margin-right: 40px;
}
ul li:last-child{
  margin-left: 40px;
}
